header {
    height: 60px;
    background: darkgrey;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("./img/Background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-top: 100px;
    padding: 0 20px;
}

footer {}
article.devices{

}

div.device{
    font-size: 20px;
}
div.device-name{
    float: left;
    width: 150px;

}
div.device-power{
    float: left;
    width: 80px;
}
div.device-icon{}
img.device-img{
    height: 15px;
}

article.PVA {
    width: 100%;
}

ul.table-weather{
    list-style: none;
    text-align: center;
    padding-left: 0px;
}
ul.table-weather li{
    float: left;
    border: 1px solid;
    margin: 1px;
    background-color: rgba(0, 123, 255, 0.9);
    color: white;
    padding: 10px;
}
div.weather-temperatur{
    width: 100%;
}
div.weather-temp-min{
    float: left;
    width: 30%;
    margin-top: 6px;
    margin-left: 20%;
    background: gray;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.weather-temp-max{
    float: left;
    width: 30%;
    background: orange;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 2px;
}

