<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Energy Saver</title>
</head>
<body>
<script></script>

<div>
    <h2>Implementationen</h2>
    <a href="uh/index2.html" target="_blank">Power-Chart (Stromproduktion und -bezug)</a></br>
    <br><br>
    <h2>REST Routen</h2>
    <a href="/pvData/" target="_blank">Gibt alle PV-Eintraege aus</a></br>
    <a href="/pvData/1652554800-1652558400" target="_blank">Gibt alle PV-Eintraege waehrend einer definierten Periode aus</a></br>
    <a href="/pvData/current" target="_blank">Holt den aktuellsten PV-Eintrag bis max. 5min zurueck oder gibt ein leeres Objekt aus</a></br>
    <a href="/power/today" target="_blank">Holt alle PV-Einträge dieses Tages</a></br>
    </br>
    <a href="/wetter/daily/" target="_blank">Gibt alle täglichen Wetterprognosen aus</a></br>
    <a href="/wetter/daily/1652554800-1652558400" target="_blank">Gibt alle täglichen Wetterprognosen waehrend einer definierten Periode aus</a></br>
    <a href="/wetter/daily/449" target="_blank">Gibt gibt die tägliche Wetterprognose mit der angegebenen ID aus</a></br>
    </br>
    <a href="/power/" target="_blank">Gibt alle Power-Eintraege aus</a></br>
    <a href="/power/1652554800-1652558400" target="_blank">Gibt alle Power-Eintraege waehrend einer definierten Periode aus</a></br>
    <a href="/power/current" target="_blank">Holt den aktuellsten Power-Eintrag bis max. 5min zurueck oder gibt ein leeres Objekt aus</a></br>
    <a href="/power/today" target="_blank">Holt alle Power-Einträge dieses Tages</a></br>
</div>
</body>
</html>