header {
    height: 50px;
    background: #d70404;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
}
header h1{
    margin-top: 10px;
}

header div{
    width: 1000px;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 0;
    background:linear-gradient(to bottom, black, white);
    background-repeat: no-repeat;
}

main {
    margin-top: 100px;
    padding: 0 20px;
    max-width: 100%;
}
div.article{
    display: flex;
    justify-content: center;
}
div.Home-Visu{
    display: flex;
    justify-content: space-around;
    width: 1000pX;
    margin-top: -25px;
}
div.Home-Visu-icon{

}
div.Home-Visu-label{
    float: left;
    margin-top: 25px;
    font-size: x-large;
}
img.HvL-icon{
    width: 40px;
}


div.device{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    width: 1000px;
}

div.device-box{
    background-color: rgba(9, 9, 9, 0.9);
    border: 1px solid;
    padding: 10px;
    margin: 1px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
div.device-name{

    width: 150px;

}
div.device-power{

    width: 80px;
}
div.device-icon{}
img.device-img{
    height: 50px;
}
div.container{

}
div.table {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
div.table-header{
    background-color: rgba(9, 9, 9, 0.9);
    border: 1px solid;
    padding: 10px;
    margin: 1px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
tr.table-tr{
    display: flex;
    justify-content: center;
    text-align: center;
}
tr.table-tr td{
    width: 100px;
}
div.table-header:hover{
    background-color: red;
}

summary{
    list-style: none;
}

ul.table-weather{
    list-style: none;
    text-align: center;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-top: -5px;
}
ul.table-weather li{
    float: left;
    border: 1px solid;
    margin: 1px;
    background-color: rgba(7, 7, 7, 0.9);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
ul.table-weather li:hover{
    background-color: red;
}
div.weather-temperatur{
    width: 100%;
}
div.weather-temp-min{
    float: left;
    width: 30%;
    margin-top: 6px;
    margin-left: 20%;
    background: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
}
div.weather-temp-max{
    float: left;
    width: 30%;
    background: orange;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
}

@media screen and (max-width: 480px) {
    div.weather-icon img{
        width: 90px;
    }
    div.Home-Visu{
        scale: 80%
    }
    ul.table-weather li{
        padding: 8px;
    }

    div.device-box{
        float: none;
    }
    div.container{
        display: none;
    }
    div.table{
        display: block;
    }
    ul.table-weather{
        display: contents;
    }
    div.device{
        display: block;
    }
}
@media (min-width: 481px) and (max-width: 1000px) {
    div.table{
        display: block;
    }
    div.container{
        display: none;
    }
    ul.table-weather{
        display: contents;
    }
    div.device{
        display: block;
    }
    div.device-box{
        float: left;
    }

}
